* {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(53, 53, 53);
}

.todo-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(245, 193, 255);
    border: 3px solid rgb(110, 0, 133);
    align-items: center;
    text-align: center;
    width: 60%;
    text-shadow: 2px 3px 4px rgb(243, 137, 229);
}

#input-field {
    border-radius: 5px;
}

button, .remove-btn {
    background-color: rgb(110, 0, 133);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

button:hover, .remove-btn:hover {
    background-color: blueviolet;
}

button:active, .remove-btn:active {
    background-color: rgb(255, 255, 255);
    color: blueviolet;;
}

.todo-input{
    margin-right: 15px;
    padding: 7px;
}

.todo-list{
    list-style-type: none;
}

.todo {
    font-size: 20px;
    margin: 20px;
}

