<div>
    <div class="todo-container">
        <h2 class="Todo-title">Todos 3000!</h2>
        <div class="todo-box">
            <input id="input-field" #newTodoInput class="todo-input" type="text" placeholder="Lägg till en todo..." >
            <button id="add-btn" (click)="addTodo(newTodoInput)">+</button>
        </div>
        <div>
            <ul id="todos" class="todo-list">
                <li *ngFor="let todo of todos.reverse(); let i = index" class="todo">
                {{ todo }}
                <button class="remove-btn" (click)="deleteTodo(i)">x</button>
                </li>
            </ul>
        </div>
    </div>
</div>
  
